.App {
  text-align: center;
  margin-top: 40px;
}
.text {
  margin-bottom: 20px;
}
.btn {
  background-color: pink;
  padding: 20px 20px;
  border-radius: 20px;
  border: none;
  transition: all .2s;
}
.btn:active {
  transform: scale(1.1);
  background-color: white;
}
.image {
  width: 500px;
}
